__pycache__
obj/
bin/
*.user
.vs/
*.mp4
*.mp3
*.m4a
*.mkv
*.info.json
*.png
.venv/
*.webm
*.jpeg
*.webp
*.part
*.ytdl
*.jpg
*.db
*-bak

secrets.json

database.db.*


!app/Harmonize/Harmonize/Resources/Raw/*.mp3
!app/Harmonize/Harmonize/Resources/Images/*.png

!app/Harmonize/Harmonize/Resources/Raw